@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .timer-container {
        @apply grid grid-cols-4 gap-2 text-2xl xl:text-5xl font-semibold text-[#780000];
    }

    .timer-item-card {
        @apply px-10 py-4 bg-white bg-opacity-20 backdrop-blur-lg rounded-xl flex items-center justify-center;
    }

    .timer-item-card div span {
        @apply text-[#780000] block md:mt-4 text-base font-[400];
    }

    .btn-primary {
        @apply px-10 py-4 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-primary rounded-xl hover:bg-primary/90 hover:scale-105 focus:outline-none;
    }

    .item-location {
        @apply flex flex-row max-w-md items-center;
    }

    .icon-location {
        @apply flex items-center justify-center w-10 h-10 mb-2 rounded-full bg-[#c1121f] shadow-md mr-4;
    }

    .info-location {
        @apply mb-3 text-base font-semibold leading-5 text-[#003049];
    }

    .section-subtitle {
        @apply mb-2 text-xs font-bold tracking-widest text-[#003049] uppercase font-poppins;
    }

    .section-title {
        @apply mb-8 text-2xl md:text-3xl font-bold leading-none tracking-tighter text-[#780000];
    }

    .title-class {
        @apply text-gray-900 !important;
    }
    
    .btn-confirm-swall {
        @apply w-24 rounded-full py-2 !important;
    }
};

/* Date styles */
.appear-disappear {
    opacity: 0;
    animation: appear 6s ease forwards, disappear 6s ease forwards 12s alternate;
    animation-iteration-count: infinite;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.typing-effect {
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 19ch;

    animation: typing 5s steps(19), blink .7s infinite step-end alternate;
    overflow: hidden;
    animation-iteration-count: infinite;
}

@keyframes typing {

    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.btn-player {
    float: left;
    right: 0;
    top: 90%;
    position: fixed;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    background-color: #780000;
    letter-spacing: 3px;
    font-family: montserrat;
    color: #fff;
    border-radius: 3px 0 0 3px;
    font-weight: 100;
    font-size: 5px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 1000;
}