@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .timer-container {
        @apply grid grid-cols-4 gap-2 text-2xl xl:text-5xl font-semibold text-[#AF7E75];
    }

    .timer-item-card {
        @apply px-10 py-4 bg-white bg-opacity-20 backdrop-blur-lg rounded-xl flex items-center justify-center;
    }

    .timer-item-card div span {
        @apply text-[#AF7E75] block md:mt-4 text-base font-[400];
    }

    .btn-primary {
        @apply px-10 py-4 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-secondary-color rounded-xl hover:bg-secondary-color/90 hover:scale-105 focus:outline-none;
    }

    .icon-location {
        @apply flex items-center justify-center w-12 h-12 mb-4 rounded-full bg-secondary-color;
    }

    .icon-location svg {
        @apply w-8 h-8 text-white;
    }

    .description-location {
        @apply mb-3 text-base font-semibold leading-5;
    }
};


.musicaOff {
    float: left;
    right: 0;
    top: 90%;
    position: fixed;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    background-color: #f69c9b;
    letter-spacing: 3px;
    font-family: montserrat;
    color: #fff;
    border-radius: 3px 0 0 3px;
    padding: 12px;
    font-weight: 100;
    font-size: 22px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 1000;
    text-align: center;
    cursor: pointer;
}


.musicaOn {
    float: left;
    right: 0;
    top: 90%;
    position: fixed;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    background-color: #f69c9b;
    letter-spacing: 3px;
    font-family: montserrat;
    color: #fff;
    border-radius: 3px 0 0 3px;
    font-weight: 100;
    font-size: 22px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 1000;
}
